@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Mulish:wght@400;700&family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --font-nav:'Mulish', sans-serif;
    --font-paragrafo:'Open Sans', sans-serif;
    --font-botao: 'DM Sans',sans-serif;

    --cor-botao: #69B99D;
    --cor-paragrafo: #7D7987;
    --cor-texto-exclusivo: #89C5CC;
}

body{
    font-size: 1.6rem;
    background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);

    min-height: 100vh;
}

.page{
    max-width: 100.8rem;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    padding-top: 6.5rem;
    margin-bottom: 5.8rem;
}

ul{
    display:flex;
    align-items: center;
    gap: 4.8rem;
}

ul li a{
    text-decoration: none;
    color: #1F1534;
}

ul li{
    list-style: none;
    line-height: 2.3rem;
    font-style: normal;
    font-weight: 400;
    font-family: var(--font-nav);
    font-size: 1.8rem;
    opacity: 0.5;
    
}

ul li:hover{
    color: black;
    font-weight: bold;
    opacity: 1;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.verde{
    color: var(--cor-texto-exclusivo);
}

main section h1{
    line-height: 5.6rem;
    font-size: 5.0rem;
    font-weight: 400;
    font-style: normal;
    font-family: var(--font-nav);
}

main section p{
    margin-bottom: 4.0rem;
    margin-top: 4.0rem;
    line-height: 2.8rem;
    font-size: 1.4rem;
    font-weight: 400;
    font-style: normal;
    font-family: var(--font-paragrafo);
    color: var(--cor-paragrafo);
}

section button{
    display: flex;
    align-items: center;
    gap: 1.0rem;
    color: white;
    background-color: var(--cor-botao);
    font-family: var(--font-botao);
    font-size: 1.6rem;
    border: none;
    padding: 1.5rem 3.2rem;
    border-radius: 5px;
    cursor: pointer;
}

section button:hover{
    background-color: #5cad91;
}

footer p{
    text-align: center;
    padding-top: 8.2rem;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: var(--font-paragrafo);
}

footer p a{
    text-decoration: none;
    color: black;
}

.balls{
    position: fixed;
    right: 0;
    bottom: 0;
}

@media (max-width: 650px) {

    nav{
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    nav ul{
        width: 100vw;
        gap: 0;
        justify-content: space-around;
    }

    main{
        display: flex;
        flex-direction: column;
    }

    main section h1, p{
        text-align: center;
    }

    main section button{
        margin: 0 auto;
    }

    #imagem-principal{
        width: 80%;
    }
}

@media (max-width: 450px){
    #imagem-principal{
        width: 100%;
    }
}